#================= Vonage API =====================

# All following parameters are available from the dashboard (dashboard.vonage.com) 

# Your Vonage account API key
API_KEY=xxxxxxxx

# Your Vonage account API secret
API_SECRET=xxxxxxxxxxxxxx

# Your application ID 
APP_ID=xxxxxxxx-xxxx-xxxx-xxxxxxxxxxxxxxxxx

# A phone number linked to your application
SERVICE_NUMBER=12995550101

#-- API Region --
# Must match the corresponding Application's "Region" parameter value (from dashboard.nexmo.com) 
# Uncomment only one of the API regions listed below

# North APAC - Singapore
# API_REGION=api-ap-3.vonage.com

# South APAC - Sydney
# API_REGION=api-ap-4.vonage.com

# West Europe - Dublin
# API_REGION=api-eu-3.vonage.com

# East Europe - Frankfurt
# API_REGION=api-eu-4.vonage.com

# East US - Virginia
# API_REGION=api-us-3.vonage.com

# West US - Oregon
API_REGION=api-us-4.vonage.com

#---

# List of allowable client SDK (WebRTC client) users
CLIENT_SDK_USERS=john,jennifer,paul,sarah

#======= VCC (Vonage Contact Center) =======

#-- VCC number to call --
VCC_NUMBER=442012345678

#-- VCC region, select (uncomment) only one --

# RIC or PDX region
# VCC_REGION=vcc-us.api.vonage.com

# FRA or LON region
VCC_REGION=vcc-eu.api.vonage.com

# SNG or SYD region
# VCC_REGION=vcc-ap.api.vonage.com








